<!DOCTYPE html>
<html lang="en" class="no-js" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/fragments/admin/head-fragment :: header-fragment-admin}">
</head>
<body>

<div class="wrapper">
    <div th:replace="~{/fragments/admin/header-fragment :: header-top-admin}"></div>
    <div class="page-wrap">
        <div th:replace="~{/fragments/admin/nav-fragment :: nav-fragment-admin}"></div>
        <div class="main-content">
            <div class="container-fluid">
                <div class="page-header">
                    <div class="row align-items-end">
                        <div class="col-lg-8">
                            <div class="page-header-title">
                                <i class="ik ik-inbox bg-blue"></i>
                                <div class="d-inline">
                                    <h5 th:text="#{cms.user.index.title}"></h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <nav class="breadcrumb-container" aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item">
                                        <a th:href="@{/admin/index.do}"><i class="ik ik-home"></i></a>
                                    </li>
                                    <li class="breadcrumb-item active" aria-current="page">User</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <a th:href="@{/admin/user/create.do}" class="btn btn-primary btn-lg" role="button" aria-pressed="true">+ New</a>
                            </div>
                            <div class="card-body">
                                <table id="dynatables" class="table table-striped table-bordered dataTable no-footer" role="grid" aria-describedby="datatable_info">
                                    <thead>
                                        <tr role="row">
                                            <th data-dynatable-column="username" data-dynatable-read="username" th:text="#{cms.user.index.table.field.username}"></th>
                                            <th data-dynatable-column="email" data-dynatable-read="email" th:text="#{cms.user.index.table.field.email}"></th>
                                            <th data-dynatable-read="action" data-dynatable-no-sort="true" class="table-actions">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <footer th:replace="~{/fragments/admin/footer-fragment :: footer-fragment-admin}"></footer>
    </div>
</div>
<div th:replace="~{/fragments/admin/model-app-fragment :: modalApp-fragment-admin}"></div>
<div th:replace="~{/fragments/admin/js-fragment :: js-fragment-admin}"></div>
<script th:inline="javascript">
    function createAction(id) {
        let view, edit, resetPassword, html;
        view = "<a class='btn btn-outline-danger btn-rounded btn-xs m-1' data-uuid='' href='/admin/user/view.do?id=" + id + "'><i class='fas fa-eye'></i></a>";
        edit = "<a class='btn btn-outline-info btn-rounded btn-xs m-1' href='/admin/user/update.do?id=" + id + "'><i class='fas fa-pen'></i></a>";
        html = view + edit;
        return html;
    }
    function defaultRowWriter(rowIndex, record, columns, cellWriter) {
        var tr = '';
        // grab the record's attribute for each column
        for (var i = 0, len = columns.length; i < len; i++) {
          tr += cellWriter(columns[i], record);
        }
        return '<tr>' + tr + '</tr>';
    };

    function defaultCellWriter(column, record) {
        var html = column.attributeWriter(record),
            td = '<td';

        if (column.hidden || column.textAlign) {
            td += ' style="';

            // keep cells for hidden column headers hidden
            if (column.hidden) {
                td += 'display: none;';
            }

            // keep cells aligned as their column headers are aligned
            if (column.textAlign) {
                td += 'text-align: ' + column.textAlign + ';';
            }

            td += '"';
        }

        if (column.cssClass) {
            td += ' class="' + column.cssClass + '"';
        }
        td = td + '>';

        if (column.id == "action") {
            html = createAction(record.id);
        }
        return  td + html + '</td>';
    };
    $('#dynatables').dynatable({
        dataset: {
            ajax: true,
            ajaxUrl: '/admin/api/user/list.do',
            ajaxOnLoad: true,
            records: []
        },
        writers: {
            _rowWriter: defaultRowWriter,
            _cellWriter: defaultCellWriter,
        },
        inputs: {
            paginationLinkClass: 'dynatable-page-link',
            paginationPrevClass: 'dynatable-page-prev',
            paginationNextClass: 'dynatable-page-next',
            paginationActiveClass: 'dynatable-active-page',
            paginationDisabledClass: 'dynatable-disabled-page',
            paginationPrev: '<span aria-hidden="true"><i class="fa fa-arrow-circle-left"></i></span>',
            paginationNext: '<span aria-hidden="true"><i class="fa fa-arrow-circle-right"></i></span>',
            pageText:''
        }
    });

</script>

</body>
</html>