<!DOCTYPE html>
<html class="no-js" lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{/fragments/frontend/head-fragment :: header-fragment-fe}">
    </th:block>
    <title th:text="#{fe.head.title}">Trang Chủ</title>
</head>
<body>
<div th:replace="~{/fragments/frontend/header-fragment :: language-fragment-fe}"></div>
<!-- LOGO -->
<div th:replace="~{/fragments/frontend/header-fragment :: logo-fragment-fe}"></div>
<!-- END LOGO-->
<!-- TOP NAVIGATION -->
<div th:replace="~{/fragments/frontend/header-fragment :: topNav-fragment-fe}"></div>
<!-- END TOP NAVIGATION -->
<!-- SEARCH FIELD AREA -->
<div th:replace="~{/fragments/frontend/header-fragment :: search-fragment-fe}"></div>
<!-- END SEARCH FIELD AREA -->
<!-- MAIN SECTION -->
<div class="container featured-area-default padding-30">
    <div class="row">
        <div class="col-md-8 padding-20">

            <!-- ARTICLE CATEGORIES SECTION -->
            <div class="row">
                <div class="col-md-12">
                    <div class="fb-heading" th:text="#{fe.home.section.category.content}">
                    </div>
                    <hr class="style-three">
                    <div class="row" id="dynatables">

                    </div>
                </div>
            </div>
        </div>
        <!-- END ARTICLES CATEOGIRES SECTION -->
        <!-- SIDEBAR STUFF -->
        <div th:replace="~{/fragments/frontend/sidebarStuff-fragment :: sidebar-fragment-fe}"></div>
        <!-- END SIDEBAR STUFF -->
    </div>
</div>
<!-- END MAIN SECTION -->

<!-- ABOUT CONTAINER BOTTOM -->

<!-- END ABOUT CONTAINER BOTTOM -->

<!-- FOOTER -->
<!-- END FOOTER -->

<!-- COPYRIGHT INFO -->
<div th:replace="~{/fragments/frontend/footer-fragment :: copyInfo-fragment-fe}">
</div>
<!-- END COPYRIGHT INFO -->

<!-- LOADING MAIN JAVASCRIPT -->
<th:block th:insert="~{/fragments/frontend/loadJS-fragment :: loadJS-fragment-fe}">

</th:block>
<script th:inline="javascript">
$('#dynatables').dynatable({
        dataset: {
            ajax: true,
            ajaxUrl: '/api/category/home.do',
            ajaxOnLoad: true,
            records: []
        },
        features: {
            search: false,
            recordCount: false,
            perPageSelect: false
        },
        writers: {
            _rowWriter: defaultRowWriter
        },
       inputs: {
            paginationClass: 'pagination justify-content-center',
            paginationLinkClass: 'dynatable-page-link',
            paginationPrevClass: 'dynatable-page-prev',
            paginationNextClass: 'dynatable-page-next',
            paginationActiveClass: 'dynatable-active-page',
            paginationDisabledClass: 'dynatable-disabled-page',
            paginationPrev: '<span aria-hidden="true"><i class="fa fa-arrow-circle-left"></i></span>',
            paginationNext: '<span aria-hidden="true"><i class="fa fa-arrow-circle-right"></i></span>',
            pageText:''
      }

});



function htmlLiWriter(content){

    var html = ' <li>';
        html = html + '<a href="/'+[[#{fe.uri.content.single}]]+'/'+content.slug+'_'+content.id+'.do" >';
        html = html + '<i class="fa fa-file-text-o"></i>';
        html = html + '<span>'+ content.title +'</span>';
        html = html + '</a>'
        html = html + '</li>';

    return html;
}

function htmlUlWriter(contents){
    var html =  '<div class="fat-content-small padding-left-30">';
        html = html + '<ul> ';
       for (var x in contents){
              html = html + htmlLiWriter(contents[x]);
        }

    return html + '</ul></div>';
}

function htmlCellWriter(record) {

    var html = '<div class="fat-heading-abb">';
       html = html + '<a href="/'+[[#{fe.uri.category.single}]]+'/'+record.slug+'_'+record.id+'.do">';
       html = html + '<i class="fa fa-folder"></i>'+record.name;
       html = html + '<span class="cat-count">('+record.totalContent+')</span>';
       html = html + '</a>';
    return html+'</div>';
}
function defaultRowWriter(rowIndex, record, columns, cellWriter) {
    var contents = record.contents;

    var html = '<div class="col-md-6 margin-bottom-20">';
    html = html + htmlCellWriter(record);
    html = html +  htmlUlWriter(record.contents);
    return html +'</div>';
}


</script>
</body>
</html>