<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Login | Admin</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" th:href="@{/static/img/favicon.ico}" type="image/x-icon" />

    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800" rel="stylesheet">

    <link rel="stylesheet" th:href="@{/static/plugins/bootstrap/dist/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/static/plugins/fontawesome-free/css/all.min.css}">
    <link rel="stylesheet" th:href="@{/static/plugins/ionicons/dist/css/ionicons.min.css}">
    <link rel="stylesheet" th:href="@{/static/plugins/icon-kit/dist/css/iconkit.min.css}">
    <link rel="stylesheet" th:href="@{/static/plugins/perfect-scrollbar/css/perfect-scrollbar.css}">
    <link rel="stylesheet" th:href="@{/static/css/theme.min.css}">
</head>
<body>
    <div class="auth-wrapper">
        <div class="container-fluid h-100">
            <div class="row flex-row h-100 bg-white">

                <div class="col-xl-4 col-lg-6 col-md-7 ml-auto mr-auto my-auto p-0">
                    <div class="authentication-form mx-auto">
                        <h1 align="center" th:text="#{backend.login.title}">Login</h1>
                        <p th:text="#{backend.login.slogan}"></p>
                        <form th:action="@{/login.do}" method="post">
                            <div class="alert alert-danger" th:if="${errorMessage!=null}">
                                <span th:text="${errorMessage}"></span>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="username" placeholder="Username" required="">
                                <i class="ik ik-user"></i>
                            </div>
                            <div class="form-group">
                                <input type="password"  class="form-control" name="password" placeholder="Password" required="">
                                <i class="ik ik-lock"></i>
                            </div>

                            <div class="sign-btn text-center">
                                <button class="btn btn-theme">Sign In</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>