<!DOCTYPE html>
<html class="no-js" lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<!-- POPULAR TAGS (SHOW MAX 20 TAGS) -->
<div class="row margin-top-20"  th:fragment="tags-fragment-fe">
    <div class="col-md-12">
        <div class="fb-heading-small">
            Popular Tags
        </div>
        <hr class="style-three">
        <div class="fat-content-tags padding-left-10">
            <a href="#" class="btn btn-default btn-o btn-sm">password</a>
            <a href="#" class="btn btn-default btn-o btn-sm">settings</a>
            <a href="#" class="btn btn-default btn-o btn-sm">sign up</a>
            <a href="#" class="btn btn-default btn-o btn-sm">currency</a>
            <a href="#" class="btn btn-default btn-o btn-sm">payment</a>
            <a href="#" class="btn btn-default btn-o btn-sm">user</a>
            <a href="#" class="btn btn-default btn-o btn-sm">database</a>
            <a href="#" class="btn btn-default btn-o btn-sm">storage</a>
            <a href="#" class="btn btn-default btn-o btn-sm">export</a>
            <a href="#" class="btn btn-default btn-o btn-sm">email</a>
            <a href="#" class="btn btn-default btn-o btn-sm">import</a>
            <a href="#" class="btn btn-default btn-o btn-sm">campaign</a>
            <a href="#" class="btn btn-default btn-o btn-sm">edit</a>
            <a href="#" class="btn btn-default btn-o btn-sm">orders</a>
            <a href="#" class="btn btn-default btn-o btn-sm">help</a>
            <a href="#" class="btn btn-default btn-o btn-sm">billing</a>
            <a href="#" class="btn btn-default btn-o btn-sm">user</a>
            <a href="#" class="btn btn-default btn-o btn-sm">configure</a>
            <a href="#" class="btn btn-default btn-o btn-sm">customer</a>
        </div>
    </div>
</div>
<!-- END POPULAR TAGS (SHOW MAX 20 TAGS) -->

</html>